@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 14% 96%;
    --foreground: 224 71% 4%;
    --card: 220 14% 96%;
    --card-foreground: 224 71% 4%;
    --popover: 220 14% 96%;
    --popover-foreground: 224 71% 4%;
    --primary: 243 75% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 9% 46%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 9% 46%;
    --accent: 151 71% 42%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 13% 89%;
    --input: 220 13% 89%;
    --ring: 243 75% 58%;
    --chart-1: 243 75% 58%;
    --chart-2: 151 71% 42%;
    --chart-3: 220 9% 46%;
    --chart-4: 220 14% 46%;
    --chart-5: 224 71% 24%;
    --radius: 0.5rem;
    --sidebar-background: 220 14% 96%;
    --sidebar-foreground: 224 71% 4%;
    --sidebar-primary: 243 75% 58%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 220 13% 91%;
    --sidebar-accent-foreground: 224 71% 4%;
    --sidebar-border: 220 13% 89%;
    --sidebar-ring: 243 75% 58%;
  }
  .dark {
    --background: 224 71% 4%;
    --foreground: 210 20% 98%;
    --card: 224 71% 4%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 20% 98%;
    --primary: 243 75% 68%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 14% 57%;
    --secondary-foreground: 0 0% 100%;
    --muted: 215 28% 27%;
    --muted-foreground: 215 16% 67%;
    --accent: 151 71% 52%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 215 28% 27%;
    --input: 215 28% 27%;
    --ring: 243 75% 68%;
    --chart-1: 243 75% 68%;
    --chart-2: 151 71% 52%;
    --chart-3: 215 14% 57%;
    --chart-4: 215 16% 67%;
    --chart-5: 210 20% 98%;
    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 243 75% 68%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 215 28% 22%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 215 28% 27%;
    --sidebar-ring: 243 75% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
